
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thi trắc nghiệm công chức, ôn thi trắc nghiệm công chức</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/adminlte.min.js"></script>


</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="/" class="brand-link">
        <img src="/images/logo.png" alt="Trắc nghiệm" class="brand-image elevation-3" style="opacity: .8">
        <span class="brand-text">Thi trắc nghiệm</span>
      </a>


    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper mt-2">

      <!-- Main content -->
      <div class="content">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Câu hỏi trắc nghiệm</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="text-center">
              <h1 class="text-center text-success">Trang quản trị hệ thống của admin</h1>
            </div>
            <%- body %>
          </div> <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="/images/logo.png" alt="Trắc nghiệm" class="brand-image elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Thi trắc nghiệm <i class="glyphicon glyphicon-off"></i></span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <div class="text-center" id="account">
          <button type="button" id="btnAccount" class="btn btn-sm btn-primary text-center mt-3">Đăng nhập</button>
          <button type="button" id="btnRegisterAccount" class="btn btn-sm btn-success text-center mt-3">Đăng ký</button>
        </div>
        <div id="dProfile" hidden>
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="/images/man.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <label  class="text-warning">
                <span id="lFullname"></span>
                <span >
                  <a href="#" class="text-danger" id="btnLogout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                </span>
              </label>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="row" id="">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <!-- gọi tới partial view comment -->
          <%- include ('layouts/comment.ejs') %>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <%- include('layouts/right-footer.ejs') %>
        </div>


      </div>

    </footer>
  </div>
  <!-- ./wrapper -->

  <!-- gọi tới view login  -->
  <%- include('layouts/login') %>


  <!-- gọi tới partial view đăng ký tài khoản -->
  <%- include('layouts/register') %>


  <style media="screen">
  @font-face {
    font-family:Digital;
    src:url('/fonts/digital-7/digital-7.ttf') format('truetype')
  }
  .main-footer{
    background-color:#C0C0C0;
  }

</style>

<script type="text/javascript">
$(document).ready(async function(){
  await LoadProfile();
});

$('#r_btnRegister').click(function(){
  console.log(111111111);
  let username = $('#r_username').val();
  let password = $('#r_password').val();
  let confirm_password = $('#r_confirm_password').val();
  let fullname = $('#r_fullname').val();

  if(username.trim().length == 0){
    $('#r_message').text('Vui lòng nhập tên tài khoản');
    return;
  }
  if(password.trim().length == 0 || confirm_password.trim().length == 0){
    $('#r_message').text('Vui lòng nhập đầy đủ mật khẩu ở cả hai ô mật khẩu');
    return;
  }

  if(password!=confirm_password){
    $('#r_message').text('Mật khẩu và xác nhận mật khẩu không khớp');
    return;
  }

  $.ajax({
    url:'/thanh-vien/register',
    type:'post',
    data:{
      username:username,
      password:password,
      fullname:fullname
    },success:function(data){
      if(data.code == 200){
        alert(data.msg);
        location.reload();
      }
    }
  });

});

$('#r_btnLogin').click(function(){
  $('#modalRegister').modal('hide');
  $('#modalLogin').modal();
});

$('#btnAccount').click(function(){
  console.log('login');
  $('#modalLogin').modal();
});

$('#btnRegister').click(function(){
  console.log('register');
  $('#modalLogin').modal('hide');
  $('#modalRegister').modal();
});


$('#btnRegisterAccount').click(function(){
  $('#modalRegister').modal();
})


$('#btnLogin').click(function(){
  let username = $('#username').val();
  let password = $('#password').val();
  if(username.length == 0 || password.length == 0){
    $('#message').text('Vui lòng nhập đầy đủ tài khoản và mật khẩu!');
    return;
  }
  $.ajax({
    url:'/thanh-vien/login',
    type:'post',
    data:{
      username:username,
      password:password
    }
  }).done(function(data){
    if(!data.user){
      $('#message').text(data.msg);
    }else{
      $('#modalLogin').modal('hide');
      location.reload();
    }
  });
});

function LoadProfile(){
  $.ajax({
    url:'/thanh-vien/profile',
    type:'get',
  }).done( function(data){
    if(data.user){
      $('#lFullname').text(data.user.fullname);
      $('#dProfile').removeAttr('hidden');
      $('#account').hide();
    }else{
      $('#dProfile').hide();
      $('#account').show();
    }
  });
}

$('#btnLogout').click(function(e){
  e.preventDefault();
  var r = confirm("Bạn thực sự muốn đăng xuất?");
  if (r == true) {
    $.ajax({
      url:'/thanh-vien/logout',
      type:'post',
      success:function(data){
        if(data && data.code == 200){
          location.reload();
        }
      },error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("Status: " + textStatus); alert("Error: " + errorThrown);
      }
    });
  }

});


</script>
</body>
</html>
