<!DOCTYPE html>
<html lang="en">

<!-- Tieu Long Lanh from Baobinh.net -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="Thi trắc nghiệm công chức, ôn thi công chức, ôn thi viên chức, thi trăc nghiệm viên chức">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="/user/images/favicon.png" type="image/png">-->

  <title>Website thi trắc nghiệm online</title>

  <link rel="stylesheet" href="/user/lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="/user/lib/weather-icons/css/weather-icons.css">
  <link rel="stylesheet" href="/user/lib/jquery-toggles/toggles-full.css">

  <link rel="stylesheet" href="/user/css/quirk.css">
  <script src="/user/lib/jquery/jquery.js"></script>
  <script src="/user/lib/modernizr/modernizr.js"></script>
  <script src="/user/lib/jquery-ui/jquery-ui.js"></script>
  <script src="/user/lib/bootstrap/js/bootstrap.js"></script>
  <script src="/user/lib/jquery-toggles/toggles.js"></script>
  <script src="/user/js/quirk.js"></script>
</head>

<body>

  <header>
    <div class="headerpanel">

      <div class="logopanel">
        <h2><a href="/" class="text-warning">Trắc nghiệm</a></h2>
      </div><!-- logopanel -->

      <div class="headerbar">

        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

        <%- include('layouts/search-panel') %>

        <% if(user) { %>
          <%- include('layouts/header-right.ejs') %>
        <%}else{%>
          <%- include('layouts/login-register') %>
        <%}%>
      </div><!-- headerbar -->
    </div><!-- header-->
  </header>

  <section>

    <div class="leftpanel">
      <div class="leftpanelinner">

        <!-- ################## LEFT PANEL PROFILE ################## -->

      <% if(user) {%>
          <%- include('layouts/profile.ejs') %>
      <%}%>



        <ul class="nav nav-tabs nav-justified nav-sidebar" style="padding-bottom:0; margin-bottom:1px;">

          <%if(user){%>
            <li class="tooltips active" data-toggle="tooltip" title="Main Menu"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
            <li class="tooltips unread" data-toggle="tooltip" title="Check Mail"><a data-toggle="tab" data-target="#emailmenu"><i class="tooltips fa fa-envelope"></i></a></li>
            <li class="tooltips" data-toggle="tooltip" title="Contacts"><a data-toggle="tab" data-target="#contactmenu"><i class="fa fa-user"></i></a></li>
            <li class="tooltips" data-toggle="tooltip" title="Settings"><a data-toggle="tab" data-target="#settings"><i class="fa fa-cog"></i></a></li>
            <li class="tooltips" data-toggle="tooltip" title="Log Out"><a href="#" id="aLogout"><i class="fa fa-sign-out"></i></a></li>
          <%}else{%>
            <li class="tooltips" data-toggle="tooltip" title="Main Menu"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
          <%}%>

        </ul>

        <div class="tab-content">

          <!-- ################# MAIN MENU ################### -->

          <%- include('layouts/tab-panel.ejs') %>

          <!-- ######################## EMAIL MENU ##################### -->

          <div class="tab-pane" id="emailmenu">
            <div class="sidebar-btn-wrapper">
              <a href="compose.html" class="btn btn-danger btn-block">Compose</a>
            </div>

            <h5 class="sidebar-title">Mailboxes</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk nav-mail">
              <li><a href="email.html"><i class="fa fa-inbox"></i> <span>Inbox (3)</span></a></li>
              <li><a href="email.html"><i class="fa fa-pencil"></i> <span>Draft (2)</span></a></li>
              <li><a href="email.html"><i class="fa fa-paper-plane"></i> <span>Sent</span></a></li>
            </ul>

            <h5 class="sidebar-title">Tags</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk nav-label">
              <li><a href="#"><i class="fa fa-tags primary"></i> <span>Communication</span></a></li>
              <li><a href="#"><i class="fa fa-tags success"></i> <span>Updates</span></a></li>
              <li><a href="#"><i class="fa fa-tags warning"></i> <span>Promotions</span></a></li>
              <li><a href="#"><i class="fa fa-tags danger"></i> <span>Social</span></a></li>
            </ul>
          </div><!-- tab-pane -->

          <!-- ################### CONTACT LIST ################### -->
          <% if(user) {%>
            <%- include('layouts/user-statistic.ejs') %>
          <%}%>


          <!-- #################### SETTINGS ################### -->

          <%if(user){%>
            <%- include('layouts/user-setting') %>
          <%}%>


        </div><!-- tab-content -->

      </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">
      <div class="contentpanel">
        <ol class="breadcrumb breadcrumb-quirk">
          <li><a href="/"><i class="fa fa-home mr5"></i> Home</a></li>
          <%if(subject && group){%>
            <li id="group"><a href="#"><%= (group.name) %></a></li>
            <li class="active" id="subject"><%= subject.name %></li>
          <%}%>
        </ol>
        <!-- content goes here... -->
          <%- body %>

          <%- include('layouts/footer') %>
      </div><!-- contentpanel -->
    </div><!-- mainpanel -->
</section>



</body>

</html>

<script type="text/javascript">
  $('#aLogout').click(function(e){
    e.preventDefault();
    $.ajax({
      url:'/thanh-vien/logout',
      type:'post',
      success:function(data){
        location.reload();
      }
    });
  });
</script>
