<!DOCTYPE html>
<html lang="en">

<!-- Tieu Long Lanh from Baobinh.net -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- meta login with google -->
  <meta name="google-signin-client_id" content="937859717773-ji8eqvrdli8icb22ljqfpiscv9f175un.apps.googleusercontent.com">

  <% if(locals.group){%>
    <%if(locals.subject){%>
      <title>Hệ thống câu hỏi trắc nghiệm có đáp án <%= group.name %> <%= subject.name %></title>
      <meta name="description" content="Website thi trắc nghiệm miễn phí có đáp án <%= group.name %> môn <%= subject.name %>. <%= subject.description %>">
      <%}else{%>
        <title>Hệ thống câu hỏi trắc nghiệm có đáp án <%= group.name %></title>
        <meta name="description" content="Website thi trắc nghiệm miễn phí có đáp án <%= group.name %>">
        <%}%>
        <%}else{%>
          <title>Website thi trắc nghiệm online miễn phí, trắc nghiệm thi công chức, câu hỏi thi trắc nghiệm công chức có đáp án</title>
          <meta name="description" content="Trang chủ thi trắc nghiệm miễn phí có đáp án redoapp.com">
          <%}%>
          <meta name="author" content="ReDo">
          <!--<link rel="shortcut icon" href="/user/images/favicon.png" type="image/png">-->


          <link rel="shortcut icon" href="/images/icon.ico">
          <link rel="stylesheet" href="/user/lib/fontawesome/css/font-awesome.css">
          <link rel="stylesheet" href="/user/lib/weather-icons/css/weather-icons.css">
          <link rel="stylesheet" href="/user/lib/jquery-toggles/toggles-full.css">

          <link rel="stylesheet" href="/user/css/quirk.css">
          <script src="/user/lib/jquery/jquery.js"></script>
          <script src="/user/lib/modernizr/modernizr.js"></script>
          <script src="/user/lib/jquery-ui/jquery-ui.js"></script>
          <script src="/user/lib/bootstrap/js/bootstrap.js"></script>
          <script src="/user/lib/jquery-toggles/toggles.js"></script>
          <script src="/user/js/quirk.js"></script>
          <script src="https://redoapp.com/socket.io/socket.io.js" charset="utf-8"></script>


          <!-- script để kích hoạt google adsense -->
          <script data-ad-client="ca-pub-7424972060609577" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script type="text/javascript">
            var socket = io("https://redoapp.com/");
            function LoadProfile(){
              $.ajax({
                url:'/user/profile',
                type:'get',
                success:function(data){
                  if(data.code == 200){
//sidebar profile
                     $('#divProfile').show(200);
                     $('#lpFullname').text(data.user.fullname);
                     $('#lpAvatar').attr('src',data.user.avatar);
                     $('#lpMemberCode').text(data.user.member_code);
                     $('#lpLiStatistic').show(200);
                     $('#lpLiLogout').show(200);
                     $('#lpLiStatistic').show(200);
//top right profile
                     $('#header_right_authenticated').show(200);
                     $('#header_right_not_authenticated').hide(200);
                     $('#trAvatar').attr('src',data.user.avatar);
                     $('#trFullname').text(data.user.fullname);
//comment controls
                     $('#cmBtnComment').show(200);
                  }else{
                    if(data.code == 401){
                       $('#divProfile').hide(200);
                       $('#lpLiStatistic').hide(200);
                       $('#lpLiLogout').hide(200);
                       $('#lpLiStatistic').hide(200);
                       $('#header_right_authenticated').hide(200);
                       $('#header_right_not_authenticated').show(200);
                       $('#cmBtnComment').hide(200);
                    }
                  }
                }
              });
            }

          </script>
        </head>

        <body>

          <header>
            <div class="headerpanel">

              <div class="logopanel">
                <h2><a href="/" class="text-warning">Trắc nghiệm</a></h2>
              </div><!-- logopanel -->

              <div class="headerbar">

                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

                <%- include('layouts/search-panel') %>

                <%- include('layouts/header-right.ejs') %>

              </div><!-- headerbar -->
            </div><!-- header-->
          </header>

          <section>
            <!-- phần cột bên trái, gồm các mục menu và thống kê, đăng xuất -->
            <%- include('layouts/left-panel') %>


            <div class="mainpanel">
              <div class="contentpanel" style="padding-left:5px; padding-right:5px;">
                <ol class="breadcrumb breadcrumb-quirk" id="direction">
                  <li><a href="/"><i class="fa fa-home mr5"></i> Home</a></li>
                  <%if(locals.group){%>
                    <li id="<%= group._id %>" class="li_group" data-group="<%= (group.meta) %>"><a href="/view?group=<%=group.meta%>"><%= (group.name) %></a></li>
                    <% if(locals.subject){%>
                      <li class="active" id="<%= subject._id %>" data-subject="<%=subject.meta%>"><a href="/view?group=<%=group.meta%>&subject=<%=subject.meta%>"><%= (subject.name) %></a></li>
                      <%}%>
                      <%}%>
                    </ol>
                    <!-- content goes here... -->
                    <div style="min-height:450px;">
                      <%- body %>
                    </div>

                    <%- include('layouts/footer') %>
                  </div><!-- contentpanel -->
                </div><!-- mainpanel -->
          </section>



      </body>

  </html>

<script type="text/javascript">
    socket.on('user-logout',(type)=>{
      $.ajax({
        url:'/user/logout',
        type:'post',
        success:function(data){
          if(data.code == 200){
            if(type.trim().length>0){
              socket.emit('call-auth-logout',type);
            }
          }
        }
      });
    });
    function Logout(){
      $.ajax({//ajax load profile để lấy loại tài khoản: google,facebook hay loại đăng ký thường
        url:'/user/profile',
        type:'get',
        success:function(d){
          if(d.code == 200){
            console.log(d);
            $.ajax({
              url:'/user/logout',
              type:'post',
              success:function(data){
                if(data.code == 200){
                  switch (d) {//tùy theo loại tài khoản
                    case 'google'://nếu là google
                      GG_SignOut();
                      break;
                    case 'facebook':
                      FB_SignOut();
                      break;
                    default:

                  }
                  LoadProfile();
                }
              }
            });
          }
        }
      });
    }
</script>
<style media="screen">
  @font-face {
    font-family:Digital;
    src:url('/fonts/digital-7/digital-7.ttf') format('truetype')
  }
  .leftpanel{
    background-color: #37474F;
  }
</style>
